# User identification
[user]
	name = Jean-Marie Lemetayer
	email = jeanmarie.lemetayer@gmail.com

# Always enable colors
[color]
	ui = true

# Add log helpers
[pretty]
	essential = %C(red)%h%C(yellow)%d %C(reset)%s %C(green)(%cr) %C(blue bold)<%an>
[alias]
	lg = log --graph --pretty=essential

# Configure default actions
[fetch]
	prune = true
	pruneTags = true
	recurseSubmodules = true
[pull]
	ff = only
	rebase = true
[push]
	default = nothing
