[user]
	name = Jean-Marie LEMETAYER
	email = jean-marie.lemetayer@savoirfairelinux.com
[color]
	ui = true
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%C(red)%h%C(yellow)%d %C(reset)%s %C(green)(%cr) %C(blue bold)<%an>'
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.savoirfairelinux.com
	smtpuser = jean-marie.lemetayer@savoirfairelinux.com
	smtpserverport = 587
	suppresscc = self
