# One Time Setup configuration file


#############################  GLOBAL CONFIGURATION  ###########################

# Your name
#USERNAME="John Doe"

# Your email
#USERMAIL="johndoe@example.com"

# Have a GUI
#CONFIG_HAVE_GUI=y

# Use Solarized
# http://ethanschoonover.com/solarized
# requires CONFIG_HAVE_GUI
#CONFIG_SOLARIZED=y


##############################  APPS CONFIGURATION  ############################

# Setup profile
# setup my .profile favorite file
#CONFIG_PROFILE=y

# Setup bash
# setup my .bashrc and .bash_aliases favorite files
#CONFIG_BASH=y

# Setup vim
# install and setup vim with my .vimrc file
#CONFIG_VIM=y

# Setup user-dirs
# requires CONFIG_HAVE_GUI
# setup my favorite user dirs
#CONFIG_USER_DIRS=y

# Setup gnome-terminal
# requires CONFIG_HAVE_GUI
# setup my favorite terminal
#CONFIG_GNOME_TERMINAL=y

# Setup git
# install and setup git
#CONFIG_GIT=y

# Setup tools
# install my commons tools: curl, sqlite3, tree, unzip
#CONFIG_TOOLS=y

# Setup devtools
# install my commons development tools:
# build-essential, autoconf, automake, libtool, valgrind
#CONFIG_DEVTOOLS=y

# Setup wallpaper
# requires CONFIG_HAVE_GUI
# install and setup my favorite wallpapers
# http://www.tux-planet.fr/ubuntu-wallpaper-by-mikebeecham/
# you have to choose between:
# * radiance-purple
# * simple-ubuntu-brown
# * ubuntu-brown-bubbles
# * ubuntu-brown
# * ubuntu-fizz
# * ubuntu-brown-bubbles-solarized
#CONFIG_WALLPAPER=ubuntu-brown-bubbles-solarized
